[Desktop Entry]
Type=Application
Name=Atlas Launcher
Comment=Open Atlas Command Centre
Exec=atlas-launcher
Icon=preferences-system
Terminal=false
Categories=Network;Office;
StartupNotify=true
X-GNOME-Autostart-enabled=true
OnlyShowIn=KDE;
X-KDE-autostart-after=panel
